.card-photo {
  width: 240px;
  height: 140px;
  background-size: 50% 100%;
  position: relative;
  overflow: hidden;
}

.card {
  width: 240px;
}

.card-photo.visited {
  opacity: 0.5;
}

.card-body {
  padding: 0.2rem;
}

.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 0.25rem;
  overflow: hidden;
}

.favorite {
  font-weight: 600;
  color: red;
}

.card-avatar img {
  width: 40px;
}

.card-marquee {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.card-title {
  font-size: 1rem;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.card-title.wide {
  width: 230px;
}

.card-text,
.card-foot {
  display: flex;
  flex-direction: row;
}

.card-foot {
  font-size: 0.9rem;
}

.domain,
.track-key {
  cursor: pointer;
}
