<div class="card">
  <!-- <img [src]="track()?.image" class="card-img-top" alt="..." /> -->
  <div
    class="card-photo"
    [appImageSource]="track()?.image"
    [title]="track()?.title"
    [class.visited]="visited()"
    (mouseenter)="setMenu(true)"
    (mouseleave)="setMenu(false)"
  >
    <!-- <div class="card-menu d-flex align-items-center justify-content-center" [class.open]="isMenu()">
      @for (item of items; track $index) {
        <div
          class="card-menu-item d-flex align-items-center justify-content-center"
          [class.red]="item.red"
          (click)="handleMenuClick(item.key)"
        >
          <i class="fa-solid {{ item.icon }}" [title]="item.label"></i>
        </div>
      }
    </div> -->

    <lib-thumbnail-menu
      [items]="items"
      [open]="isMenu()"
      (itemClicked)="handleMenuClick($event)"
    ></lib-thumbnail-menu>

    <div class="card-surface" (click)="setOpen()"></div>

    <lib-window-region
      [launched]="launched()"
      [width]="180"
      [height]="105"
      (select)="selectRegion($event)"
      [open]="isOpen()"
    ></lib-window-region>
  </div>
  <div class="card-body">
    <div class="card-marquee">
      <div class="card-info d-flex align-items-center">
        <app-actor-menu
          [selectedId]="actorId()"
          (modelSelect)="selectModel($event)"
          (modelDedupe)="dedupeModel($event)"
          [models]="actors"
        ></app-actor-menu>
        <div
          (click)="handleMenuClick('info')"
          class="card-title"
          [title]="track()?.title"
          [class.wide]="isWide"
          [class.favorite]="track()?.favorite"
        >
          {{ track()?.title }}
        </div>
        <!-- @if (!display()) {
          <lib-dropmenu (itemClicked)="handleMenuClick($event)" [items]="items"></lib-dropmenu>
        } -->
      </div>
    </div>
  </div>
</div>
