.input-group {
  width: 300px !important;
}

.hidden {
  display: none;
}

.model-grid {
  width: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.video-grid {
  width: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.model-image {
  height: 48px;
  width: 48px;
  border-radius: 0.1rem;
}

.model-image.off {
  display: none;
}

.modal-header {
  align-items: start;
  gap: 0.2rem;
}

.model-alias .item {
  font-size: 0.9rem;
  cursor: pointer;
  /* text-decoration: underline; */
}

.model-alias .item:hover {
  text-decoration: none;
}

.model-alias .item::before {
  content: ', ';
}
.model-alias .item:first-child::before {
  content: '';
}
.modal-body {
  min-height: 600px;
  padding: 0.5rem;
}

.modal-header {
  padding: 0.5rem;
}
.favorite {
  color: red;
}
